.pay{
    background-color: #0000b3;
    color: var(--white-color);
    padding: 10px;
    font-size: 1.3rem;
    width: 200px;
    margin-left: 82%;
    margin-top: 40px;
    
    border: none;
    border-radius: 8px;
    transition: all .7s;

}

.pay-icon{
    margin-left: 10px;
}


.pay:hover{
    background-color: #0000ff ;
    color: var(--darkWhite-color);
}