@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav-bar{
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a1ceec;
  padding: 2.2rem;
}
.nav-brand{
  flex: 1;
}
.nav-items{
  flex: 3;
  display: flex;
  justify-content: space-between;

  align-items: center;
}
.nav-card{
  display: flex;
  align-items: center;
  color: blue;

}
.nav-card a{
  text-decoration: none;
  color: red;
}
.card-quantity{
  font-size: .7rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  background-color: #e00808;
  border-radius: 50%;
}





.productContiner{
  width: 80%;
  margin: auto;
}

.products{
 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  list-style: none;
}
.product{
 
  width: 19%;
  max-width: 100%;
  height: 370px;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 1px 2px 5px 3px rgba(94, 104, 121, 0.3);
}
.productImg{
  
  width: 50%;
  margin: auto;
  margin-top: 1rem;
  margin-left: 5%;
  margin-bottom: 1rem;
  
}
.ProdactData{
margin-left: 10%;
}
.productName{
font-size: 1.2rem;
font-weight: 900;
}
.productPrice{
  font-size: 1.2rem;
  font-weight: bold;
}

.ProdactData button{
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 1.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #4b70e2;
  color: white;
  letter-spacing: 1.15px;
}






































button {
    margin-top: 10px;
  }
  
  label {
    margin-right: 5px;
  }
  
  #greeting {
    display: inline-block;
  }
  
  .logout-btn {
    display: inline-block;
    margin-left: 10px;
  }
  
  span {
    padding-left: 10px;
    cursor: pointer;
  }
  
  
  .container1 {
    width: 50%;
    margin: auto;
  }
  
  
  body {
    /* background-color: rgba(199, 43, 43, 0.788); */
    /* background-color: #FFDD00; */
  }
  
  .loginPage {
    width: 30%;
    margin: auto;
    padding: 50px;
    margin-top: 200px;
    /* background-color: rgb(228, 220, 220); */
    border-radius: 20px;
  }
  
  .addPage {
    width: 40%;
    margin-left: 30%;
    padding: 50px;
    margin-top: 20px;
    /* background-color: rgb(228, 220, 220); */
    border-radius: 20px;
  }
  
  .loginFrame {
    border: 3px solid rgb(10, 10, 10);
    padding: 30px;
    width: 400px;
    border-radius: 10px;
  
  }
  
  .addFrame {
    border: 5px solid rgb(94, 5, 5);
    padding: 30px;
    width: 450px;
    border-radius: 10px;
  
  
  }
  
  .loginHeader {
    margin-left: 125px;
    font-weight: bolder;
    border: 2px solid black;
    width: 200px;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
  }
  
  .loginText {
    width: 250px;
    height: 25px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 24px;
  }
  
  .loginTextP {
    width: 250px;
    height: 25px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  
  
  .passLogin {
    margin-right: 8px;
  }
  
  .notRegister {
    width: 140px;
    margin-left: 165px;
    margin-top: 40px;
    padding: 8px;
    border-radius: 8px;
    font-size: 1.1rem;
    background-color: black;
    color: #FFDD00;
    font-weight: bolder;
  
  }
  
  .userPassLabel {
    font-weight: bolder;
  }
  
  .signIn {
    width: 140px;
    margin-left: 130px;
    margin-top: 20px;
    padding: 8px;
    border-radius: 8px;
    font-size: 1.1rem;
    background-color: black;
    color: #FFDD00;
    font-weight: bolder;
  
  
  }
  
  .signupPage {
    width: 30%;
    margin: auto;
    padding: 50px;
    margin-top: 50px;
    /* background-color: rgb(228, 220, 220); */
    border-radius: 20px;
  }
  
  .signupFrame {
    border: 2px solid rgb(10, 10, 10);
    padding: 30px;
    width: 400px;
    border-radius: 10px;
  
  }
  
  .signupText {
    width: 250px;
    height: 25px;
    border: 1.5px solid black;
    border-radius: 3px;
    margin-bottom: 10px;
  
  }
  
  .signUp {
  
    width: 140px;
    margin-left: 140px;
    margin-top: 20px;
    padding: 8px;
    border-radius: 8px;
    font-size: 1.1rem;
    background-color: black;
    color: #FFDD00;
    font-weight: bolder;
  
  }
  
  .logIn {
    width: 140px;
    margin-left: 170px;
    margin-top: 40px;
    padding: 8px;
    border-radius: 8px;
    font-size: 1.1rem;
    background-color: black;
    color: #FFDD00;
    font-weight: bolder;
  
  }
  
  .sunmitProduct {
    width: 180px;
    margin-left: 140px;
    margin-top: 40px;
    padding: 5px;
    border-radius: 8px;
    font-size: 1.1rem;
    background-color: black;
    color: #FFDD00;
    font-weight: bolder;
  }
  
  .deleteAll {
    width: 180px;
    margin-left: 140px;
    margin-top: 40px;
    padding: 5px;
    border-radius: 8px;
    font-size: 1.1rem;
    background-color: black;
    color: #FFDD00;
    font-weight: bolder;
  }
  
  .signupHeader {
    margin-left: 130px;
    font-weight: bolder;
    margin-bottom: 20px;
    width: 200px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid black;
  }
  
  .signupTextName {
    margin-left: 13px;
  }
  
  .signupTextPass {
    margin-left: 13px;
  }
  
  .signupTextFirst {
    margin-left: 10px;
  }
  
  .signupTextLast {
    margin-left: 12px;
  }
  
  .signupTextEmail {
    margin-left: 11px;
  }
  
  .userN {
    margin-right: 34px;
    font-weight: bolder;
  }
  
  .userP {
    margin-right: 38px;
    font-weight: bolder;
  }
  
  .userF {
    margin-right: 30px;
    font-weight: bolder;
  
  }
  
  .userL {
    margin-right: 30px;
    font-weight: bolder;
  }
  
  .userCom {
    font-weight: bolder;
  }
  
  .userEm {
    font-weight: bolder;
  }
  
  .contentContiner {
    margin: auto;
    margin-top: 40px;
    
    width: 80%;
  
  }
  
  .General {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    list-style: none;
    position: relative;
  
  
  }
  
  .General1 {
    position: relative;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    list-style: none;
  
  
  }
  .cont{
    position: absolute;
  }
  .content {
    position: relative;
    margin-top: 50px;
    width: 20%;
    height: 330px;
    /* background-color: rgb(228, 220, 220); */
    background-color: rgb(230, 237, 243);
    
    border-radius: 15px;
    padding: 15px;
  }
  
  .content1 {
    position: relative;
    /* display: flex;
    justify-content: space-around;
    flex-wrap: wrap; */
    width: 95%;
    margin: auto;
    height: 280px;
    /* background-color: rgb(228, 220, 220); */
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 30px;
  }
  .productDetail{
    font-weight: bold;
  }
  .deleteSpan {
  
    position: absolute;
    font-size: 1.2rem;
    margin: right;
    border: 1px solid #FFDD00;
    width: 24px;
    height: 30px;
    right: 5%;
    margin-top: 5px;
    border-radius: 8px;
    line-height: 1.9rem;
    cursor: pointer;
    background-color: black;
    color: #FFDD00;
  
  
  }
  
  .addPageProduct {
    width: 90%;
    padding: 50px;
    margin-top: 20px;
    border-radius: 20px;
  }
  
  .addFrameProduct {
    border: 3px solid black;
    padding: 30px;
    width: 500px;
    margin-left: 36%;
    border-radius: 10px;
  
  }
  
  .productDiv {
    margin-top: 10px;
  }
  
  .Product {
    height: 25px;
    width: 300px;
    border-radius: 4px;
  }
  
  .ProductName {
    margin-left: 53px;
  }
  
  .ProductNumber {
    margin-left: 36px;
  }
  
  .ProductDate {
    margin-left: 69px;
  }
  
  .ProductPrice {
    margin-left: 55px;
  }
  
  .ProductDescription {
    border-radius: 4px;
    margin-left: 13px;
    border: 2px solid black;
  }
  
  .productLabel {
    font-weight: bolder;
  }
  
  .submitProduct {
    width: 180px;
    margin-left: 155px;
    margin-top: 40px;
    padding: 5px;
    border-radius: 8px;
    font-size: 1.1rem;
    background-color: black;
    color: #FFDD00;
    font-weight: bolder;
  }
  
  .deleteAllProduct {
    width: 180px;
    margin-left: 47.5%;
    margin-top: 30px;
    padding: 5px;
    border-radius: 8px;
    font-size: 1.1rem;
    background-color: black;
    color: #FFDD00;
    font-weight: bolder;
  }
  
  .grettingProduct {
    margin-left: 20px;
    margin-top: 2px;
    font-size: 1.9rem;
    font-weight: bolder;
  }
  
  .logoutP {
    margin-bottom: 10px;
    margin-left: 90%;
  }
  
  .logoutP1 {
    width: 100px;
    margin-left: 95%;
    background-color: black;
    color: #FFDD00;
    font-weight: bolder;
    padding: 5px;
    border-radius: 8px;
    font-size: 1.1rem;
  }
  
  .addNewProduct {
    margin-left: 42%;
    border: 2px solid black;
    width: 350px;
    text-align: center;
    padding: 3px;
    border-radius: 8px;
  }
  .productImg{
    width: 200px;
    height: 150px;
  }
  .adminbotton{
    width: 100px;
    margin-left: 95%;
    background-color: black;
    color: #FFDD00;
    font-weight: bolder;
    padding: 5px;
    border-radius: 8px;
    font-size: 1.1rem;
  }