

.landing-container {
    width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
  /* ${mobile({ display: "none" })} */
}

.landing-arrow {
    width: 50px;
  height: 50px;
  background-color: #fff7f7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  /* left: ${(props) => props.direction === "left" && "10px"}; */
  /* right: ${(props) => props.direction === "right" && "10px"}; */
  margin: auto;
  cursor: pointer;
  opacity: 0.5;
  z-index: 2;
}


.landing-left {
    left: 5%;

}

.landing-right {
    right: 5%;

}

.landing-wrapper {
    height: 100%;
    display: flex;
    transition: all 1.5s ease;
    /* transform: translateX(${(props) => props.slideIndex * -100}vw); */
    transform: translateX(-100vw);
}

.landing-slide {
    width: 100vw;
  height: 100%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* background-color: #${(props) => props.bg}; */
}

.landing-image-container {
    max-width: 100%;
    max-height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
}

.landing-image {
    max-height: 50%;
    max-width: 50%;
}

.landing-info-container{
    flex: 1;
    padding: 50px;
}

.landing-title {
    font-size: 70px;

}

.landing-desc {
    width: 70%;
    margin: 50px 0px;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3px;
    color: #008000;
}

.landing-button {
    padding: 10px;
    font-size: 20px;
    background-color: #000;
    padding: 1em;
    color: #fff;
    cursor: pointer;
    transition: all .7s ease;

}

.landing-button a {
    text-decoration: none;
    color: #fff;
    transition: all .7s ease;

}

.landing-button:hover{
    background-color: #333333;
    color:#bfbfbf;
}

.landing-button:hover a{
    color:#bfbfbf;
}

.landing-arrow-button {
    background-color: transparent;
    color: #000;
    font-size: 3rem;
}


.activeSlide {
    opacity: 1;
    transform: translateX(0);
    transition-duration: 1s;

  }

  .lastSlide {
    transform: translateX(-100%);
    transition-duration: 1s;

  }
  .nextSlide {
    transform: translateX(100%);
    transition-duration: 1s;

  }

  .landing-category {
    display: flex;
  padding: 20px;
  justify-content: space-between;
  /* ${mobile({ padding: "0px", flexDirection:"column" })} */

  }

  .landing-item-container {
    flex: 1;
    margin: 3px;
    height: 70vh;
    position: relative;
  }

  .landing-item-img {
    width: 100%;
  height: 100%;
  object-fit: cover;
  /* ${mobile({ height: "20vh" })} */
  }

  .landing-item-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .landing-item-title{
    color:white;
    margin-bottom: 20px;
  }

  .landing-item-button {
    border:none;
    padding: 10px;
    background-color: white;
    color:gray;
    cursor: pointer;
    font-weight: 600;
  }