
.welcome{
    /* font-family: 'Uchen', serif; */
    /* font-family: 'Cormorant Garamond', serif; */
/* shopping font-family: 'Festive', cursive; */
/* shoppingfont-family: 'Great Vibes', cursive; */
/* font-family: 'Italianno', cursive; */
/* font-family: 'Nanum Myeongjo', serif; */


font-family: 'Uchen', serif;
font-size: 2rem;
font-weight: 300;
text-align: center;
width: 30%;
margin: auto;
margin-top: 1px;

}
.add-product-title{
width: 22%;
margin: auto;
margin-top: 5px;
}

.add-product-title h1{
  text-align: center;
  font-family: 'Uchen', serif;
  font-size: 1.7rem;
  font-weight: bold;
  font-weight: 300;
  border-bottom: 2px solid var(--grey-color);
}
.add-product-container{
    width: 45%;
    margin: auto;
    height: 380px;
    border: 2px solid var(--dimgrey-color);
    display: flex;
    justify-content: space-between;
    top: 30px;
    padding: 40px;
    border-radius: 15px;
    margin-top: 50px;
    
}
.product-content{
  margin-bottom: 10px;
}
.product-label{
  width: 200px;
  padding-right: 20px;
  
}
.label-name{

}
.label-brand{

}
.label-price{
margin-right: 60px;
}
.label-des{
  margin-right: 18px;
}
.input-name{
  padding: 5px;
  border: 1px solid var(--black-color);
  border-radius: 5px;
}
.input-img{
  width: 190px;
  border: none;
  
}
.upload-img{
  height: 250px;
  width: 250px;
  margin-bottom: 30px;
  border: 1px solid var(--grey-color);
  border-radius: 9px;
  padding: 30px 0;
}
.submit-product{
  margin-top: 50px;
  padding: 10px;
  margin-left: 110px;
  border: none;
  background-color: var(--green-color);
  color: var(--white-color);
  border-radius: 5px;
  width: 140px;
}
  .contentContiner {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    
    
  
  }
  .productContiner{
    width: 80%;
    margin: auto;
  }
  .product-header{
    font-size: 2rem;
    font-family: 'Uchen', serif;
    font-weight: 300;
    
  }
  
  .General {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    list-style: none;
    position: relative;
  
  
  }

  /* .products{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    list-style: none;
  } */
  .product{
   
    width: 16.6%;
    /* max-width: 100%; */
    height: 380px;
    margin: 1.5rem;
    padding: .2rem;
    border-radius: 15px;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 1px 2px 5px 3px rgba(94, 104, 121, 0.3);
    /* border: 1px solid var(--dimgrey-color); */
  }
  .productImg{
    
    /* width: 90%; */
    width: 200px;
    margin: auto;
    margin-top: 1.5rem;
    margin-left: 9%;
    margin-bottom: .5rem;
    
  }
  .ProdactData{
  margin-left: 10%;
  }
  .productName{
  font-size: 1.3rem;
  font-family: 'PT Serif', serif;
  
  }
  .productDescription{
    font-family: 'EB Garamond', serif;
    font-size: 1rem;
  }
  .productPrice{
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .ProdactData button{
    width: 90%;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    margin-top: .9rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var( --main-color);
    color: var(--white-color);
    letter-spacing: 1.15px;
    transition: all .7s ease;
  }

  .ProdactData button:hover{
    background-color: #333333;
    color:#bfbfbf;

  }
  
  
  
  
  