
.welcome{
  /* font-family: 'Uchen', serif; */
  /* font-family: 'Cormorant Garamond', serif; */
/* shopping font-family: 'Festive', cursive; */
/* shoppingfont-family: 'Great Vibes', cursive; */
/* font-family: 'Italianno', cursive; */
/* font-family: 'Nanum Myeongjo', serif; */

font-family: 'Uchen', serif;
font-size: 2rem;
font-weight: 300;
text-align: center;
width: 30%;
margin: auto;
margin-top: 1px;
color: green;
font-weight: 400;

}
.welcome-hide{
font-size: 2rem;
text-align: center;
width: 30%;
margin: auto;
margin-top: 1px;
transition: all .5s ease;
font-weight: 700;
color: green;
}
.add-product-title{
width: 22%;
margin: auto;
margin-top: 1px;
}

.add-product-title h1{
text-align: center;
font-family: 'Uchen', serif;
font-size: 1.7rem;
font-weight: bold;
font-weight: 300;
border-bottom: 2px solid var(--grey-color);
}
.add-product-container{
  width: 50%;
  margin: auto;
  height: 380px;
  border: 2px solid var(--dimgrey-color);
  display: flex;
  justify-content: space-between;
  top: 30px;
  padding: 40px;
  border-radius: 15px;
  margin-top: 30px;
  
}
.product-content{
margin-bottom: 10px;
}
.product-label{
width: 200px;
padding-right: 20px;

}



.product-label1{
width: 200px;
padding-right: 20px;
font-weight: bold;

}
.input-name1{
padding: 5px;
border: .5px solid var(--black-color);
border-radius: 5px;
width: 150px;
border-radius: 5px;

}




.search-container{
position:fixed;
width: 20%;
height: 60px;
top: 0px;
left: 60%;
/* background: rgb(0,0,0);
z-index: 10;
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(13,13,61,1) 41%, rgba(20,19,71,1) 65%, rgba(0,0,0,1) 100%); */
z-index: 20;
}

.search-frame{
width: 290px;
margin-left: 0px;
margin-top: 13px;
height: 35px;
background-color: white;
border-radius: 15px;
z-index: 20;
}
.search-icon{
padding: 10px;
font-size: .9rem;
}

.product-search-header{
background-color: white;
color: black;
margin-top: 10px;
padding: 5px 5px;
border-radius: 5px;
border-radius: 5px 0 0px 5px;

}
.search-text{
height: 1.7rem;
width: 180px;
padding: 0 5px;
border-radius: 0 1px 1px 0 ;
border: none;
}






.General-admin{
border: 2px solid #8c8c8c;
display: flex;
  justify-content:space-around;
  align-items: center;
  list-style: none;
  position: relative;
  flex-flow: column;
  border-radius: 7px;
  margin-top: 30px;
  padding-top: 20px;
}

.product-admin{
display: flex;
justify-content: flex-end;
align-items: center;

width: 95%;
height: 110px;
margin: .5rem;
padding: 0;
border-radius: 5px;
border: 1px solid #8c8c8c;
}
.productImg-admin{

flex: 5%;
max-width: 100px;
height: 80px;
margin: auto;
}
.productName-admin{
flex: 5%;
font-weight: bold;
font-family: 'Uchen', serif;
font-size: 1.1rem;

}
.productDescription-admin{
flex: 32%;
}

.productPrice-admin{
flex: 3%;
color: #00802b;
font-weight: 700;
}
.addtocart-admin{
flex: 3%;
}
.delete-product-admin{
flex: 3%;
}

.trash-admin{
color: black;
font-size: 1.3rem;
border-radius: 5px;
background-color: #ddd;
height: 40px;
width: 40px;
padding: 10px;
transition: all .7s ease;
}

.trash-admin:hover{
color: #e60000;
background-color: #ccc;
} 



.edit-product{
color: black;
font-size: 1.3rem;
border-radius: 5px;
background-color: #ddd;
height: 20px;
width: 20px;
padding: 10px;
transition: all .7s ease;
}
.edit-product:hover{
color: #0000ff;
background-color: #ccc;
} 











.label-price{
margin-right: 60px;
}
.label-des{
margin-right: 18px;
}
.input-name{
padding: 5px;
border: 1px solid var(--black-color);
border-radius: 5px;

}
.label-brand{
margin-right: 7px;
}
.input-img{
width: 190px;
border: 1px solid black;


}
.upload-img{
height: 250px;
width: 280px;
margin-bottom: 30px;
border: 1px solid var(--grey-color);
border-radius: 9px;
padding: 30px 0;
}
.submit-product{
margin-top: 50px;
padding: 5px;
font-family: 'Uchen', serif;
font-size: 1.1rem;
margin-left: 110px;
border: none;
background-color: var(--green-color);
color: var(--white-color);
border-radius: 5px;
width: 170px;
transition: all .7s ease;
}
.submit-product:hover{
background-color: #00b300;
color: #d9d9d9;
}
.contentContiner {
  width: 80%;
  margin: auto;
  margin-top: 40px;
  
  

}
.productContiner{
  width: 80%;
  margin: auto;
}
.product-header{
  font-size: 2rem;
  font-family: 'Uchen', serif;
  font-weight: 300;
  
}

.General {
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  list-style: none;
  position: relative;
}

.product{
 
  max-width: 240px;
 
  height: 380px;
  margin: 1.5rem;
  padding: .2rem;
  border-radius: 15px;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 1px 2px 5px 3px rgba(94, 104, 121, 0.3);
  
}
.productImg{
  
  /* width: 90%; */
  width: 90%;
  margin: auto;
  margin-top: 1.5rem;
  margin-left: 5%;
  margin-bottom: .5rem;
  
}
.ProdactData{
margin-left: 10%;
}
.productName{
font-size: 1.2rem;
font-family: 'PT Serif', serif;

}
.productDescription{
  font-family: 'EB Garamond', serif;
  font-size: 1rem;
}
.productPrice{
  font-size: 1.1rem;
  font-weight: bold;
  color: #00802b;
}

.ProdactData button{
  width: 90%;
  
  height: 40px;
  border-radius: 8px;
  font-size: 1rem;
  font-family: 'Uchen', serif;
  font-weight: 700;
  margin-top: .9rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var( --main-color);
  color: var(--white-color);
  letter-spacing: 1.15px;
  transition: all .7s ease;
}

.ProdactData  button:hover, .add-to-cart-icon button:hover{
 
  color: var(--darkslategrey-color);

}
/* .add-to-cart-icon{
  transition: .7s ease;
}

.add-to-cart-icon button:hover{
  color:#808080;
} */




@media only screen and (max-width: 1400px) {
 
.add-product-title{
width: 30%;
margin: auto; 
}
  .add-product-container{
    width: 85%;
   
    height: 350px;
    
    
}

  .product{
 
    
    margin: 1.5rem .5rem;
    padding: .2rem;
  }
  
    
  
    .input-name{
      padding: 4px;
    }
    .input-img{
      width: 190px;  
    }
    .upload-img{
      max-height: 250px;
    }
    .submit-product{
      margin-top: 10px;
      margin-left: 100px;
    }
    .product-header{
      font-size: 1.3rem;  
    }
    .contentContiner {
      width: 80%;
    }
  
    .product{ 
      width: 100%;
    }
    .productImg{
      margin-left: 0%; 
    }
    
  
    }





    @media only screen and (max-width: 1250px) {



      .search-container{
        position:fixed;
        width: 23%;
        height: 60px;
        top: 0px;
        left: 51%;
       z-index: 20;
        background-color: black; 
      }
      
      .search-frame{
        width: 280px;
        margin-left: 0px;
        margin-top: 13px;
        height: 35px;
        background-color: white;
        border-radius: 15px;
        z-index: 20;
        /* background-color: red; */
      }
      .search-icon{
        padding: 10px 5px;
        font-size: .9rem;
      }
      
      .product-search-header{
        background-color: white;
        color: black;
        margin-top: -15px;
      
      font-size: .9rem;
      border-radius: 5px;
      border-radius: 5px 0 0px 5px;
      
      }
      .search-text{
       height: 1.7rem;
       width: 150px;
       height: 25px;
       padding: 0 1px;
       border-radius: 0 1px 1px 0 ;
       border: none;
       margin-top: -10px;
      }

    }







    @media only screen and (max-width: 1100px) {


      
        
        .add-product-title h1{
          font-size: 1.3rem;
          font-weight: 300;
        }
        
        .add-product-container{
          width: 80%; 
         
          margin-top: 30px;
          
      }
      
        .input-name{
          padding: 4px;
        }
        .input-img{
          width: 190px;  
        }
        .upload-img{
          height: 200px;
          width: 250px;
          margin-top: 20px;
          margin-left: 40px;
          border: 1px solid var(--grey-color);
          border-radius: 9px;
          padding: 30px 0;
        }
        .submit-product{
          margin-top: 10px;
          margin-left: 100px;
        }
        .product-header{
          font-size: 1.3rem;  
        }
        .contentContiner {
          width: 80%;
        }
      
       
        .productImg{
          margin-left: 0%; 
        }
        
        .search-container{
          position:fixed;
          width: 280px;
          height: 40px;
          top: 8px;
          left: 52%;
          background-color: black;
          z-index: 20;
        }
        
        .search-frame {
          position: relative;
          margin-left: 0px;
          width: 280px;
          left: 10px;
          top: -10px;
          max-height: 35px;
          border-radius: 15px;
        }
        











      
        }



        @media only screen and (max-width: 900px) {



          .search-container{
            position:fixed;
            width: 55%;
            height: 40px;
            top: 8px;
            left: 28%;
            background-color: black;
            z-index: 20;
          }
          
          .search-frame {
            position: relative;
            margin-left: 40px;
            width: 300px;
            left: 10px;
            top: -10px;
            max-height: 30px;
            border-radius: 15px;
          }
          
          .search-icon{
            padding: 8px 5px;
            font-size: .9rem;
          }
          
          .product-search-header{
          background-color: white;
          color: black;
          margin-top: 10px;
          padding: 5px 5px 0;
          
          border-radius: 5px;
          border-radius: 5px 0 0px 5px;
          font-size: .9rem;
          
          }
          .search-text{
           height: 1.2rem;
           width: 210px;
           padding: 0 5px;
           border-radius: 0 1px 1px 0 ;
           border: none;
          }
          
          







         
          .productImg-admin{
          
            max-width: 80px;
            height: 70px;
           
          }
          .productName-admin{
            flex: 7%;
           
            font-size: .9rem;
            
          }
          .productDescription-admin{
            flex: 36%;
            padding-right: 10px;
            font-size: .9rem;
          }
          
          .productPrice-admin{
            font-weight: 600;
            
          }
        
          
          










          


        }        

        @media only screen and (max-width: 725px) {

.contentContiner{
width: 100%;
}
         
          .productImg-admin{
          
            max-width: 60px;
            height: 50px;
           
          }
          .productName-admin{
           
            font-size: .7rem;
            
          }
          .productDescription-admin{
            flex: 36%;
            padding-right: 10px;
            font-size: .7rem;
          }
          
          .productPrice-admin{
            font-weight: 600;
            font-size: .9rem;
            
          }
        



.trash-admin{

font-size: 1rem;

height: 15px;
width: 15px;
padding: 7px;

}



.edit-product{

font-size: 1rem;

height: 15px;
width: 15px;
padding: 7px;

}


          

        }


@media only screen and (max-width: 540px) {


.welcome{
font-size: 1rem;
width: 40%;
margin-top: 0;
transition: all .7s ease;
}
.welcome-hide{
font-size: 1rem;
width: 35%;
margin: auto;
margin-top: 240px;
transition: all .4s ease;
font-weight: 700;
}




.search-container{
position:fixed;
width: 55%;
height: 40px;
top: 8px;
left: 28%;
background-color: black;
/* background: rgb(0,0,0);
z-index: 10;
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(13,13,61,1) 41%, rgba(20,19,71,1) 65%, rgba(0,0,0,1) 100%); */
z-index: 20;
}

.search-frame {
position: relative;
width: 250px;
margin-left: 0;
top: -10px;
max-height: 30px;
border-radius: 15px;
}

.search-icon{
padding: 8px 5px;
font-size: .9rem;
}

.product-search-header{
background-color: white;
color: black;
margin-top: 10px;
padding: 5px 5px 0;

border-radius: 5px;
border-radius: 5px 0 0px 5px;
font-size: .9rem;

}
.search-text{
height: 1.2rem;
width: 160px;
padding: 0 5px;
border-radius: 0 1px 1px 0 ;
border: none;
}







.add-product-title{
width: 45%;
margin: auto; 
}

.add-product-title h1{
  font-size: .9rem;
  font-weight: 300;
}

.add-product-container{
  width: 100%; 
  height: 600px;
  flex-flow: column;
  margin-top: 30px;
  
}

.input-name{
  padding: 4px;
}
.input-img{
  width: 190px;  
}
.upload-img{
  height: 200px;
  width: 250px;
  margin-top: 20px;
  margin-left: 40px;
  border: 1px solid var(--grey-color);
  border-radius: 9px;
  padding: 30px 0;
}
.submit-product{
  margin-top: 10px;
  margin-left: 100px;
}
.product-header{
  font-size: 1.3rem;  
  margin-left: 20px;
}
.product-content{
margin-left: 20px;
}




.product{
 
  /* width: 16.6%; */
  max-width: 300px;
  /* max-width: 100%; */
  height: 420px;
  padding-top: 15px;
 
}
.contentContiner {
  width: 100%;
}

.product{ 
  width: 100%;
}
.productImg{
  margin-left: 5%;
  margin-top: 5px; 

}














}