.register-header{
    margin-top: 80px;
    margin-left: 37%;
    font-size: 2.5rem;
}
.register-frame{
    width: 500px;
    border: 1px solid black;
    padding: 2.5rem;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
}
.register-label{
    font-size: 1.3rem;
    font-weight: 500;
}
.register-input{
    width: 250px;
    height: 28px;
    margin-left: 20px;
    margin-top: 10px;
    border: .5px solid #000;
    border-radius: 5px;
}
.register-input-user-name{
    margin-left: 50px;
}
.register-input-password{
    margin-left: 62px;
}
.register-signin{
    width: 80%;
    margin-left: 10%;
    margin-top: 2.2rem;
    height: 2.2rem;
    border-radius: 5px;
    border: none;
    background-color: var(--main-color);
    font-size: 1.1rem;
    border: 1px solid var(--grey-color);
    color: var(--white-color);
    transition: all .7s ease;
}
.register-signin:hover{
    color: rgb(172, 172, 172);
}
.register-signup{
    width: 80%;
    margin-left: 10%;
    margin-top: 1.5rem;
    height: 2.2rem;
    border-radius: 5px;
    border: none;
    background-color: var(--main-color);
    font-size: 1.1rem;
    border: 1px solid var(--grey-color);
    color: var(--white-color);
    transition: all .7s ease;
}
.register-signup:hover{
    color: rgb(172, 172, 172);
}